html {
    box-sizing: border-box;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
      Sans-Serif;
    font-weight: normal;
    color: #272727;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
  }
  
  iframe {
    width: 100%;
    height: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
    margin: 0;
    font-size: 1.5em;
  }

.codepen {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
}

.button {
    background: #343436;
    border: 0;
    color: white;
    padding: 5px;
    border-radius: 6px;
    font-size: 15px;
}

.button--small {
    font-size: 12px;
    padding: 4px;
}

.pen {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-flow: column;
      align-items: center;
      grid-gap: 10px;
      background: black;
      color: white;
      padding: 10px;
  }

  .pen .pen__details p {
      margin: 0;
  }

.code {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background: #343436;
    padding: 5px;
}

  .code > * {
      background: #1b2b34;
  }

  .editor {
      display: grid;
      grid-template-rows: auto 1fr;
  }

  .editor__header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 5px;
    align-items: center;
    padding: 5px;
    background: rgba(0,0,0,0.1); 
    color: white;    
  }

  .editor__code {
      display: grid;
      grid-template-columns: auto 1fr;
}

.editor__number {
    display: block;
    font-size: 12px;
    padding: 0 10px;
    color: white;
}

.editor__input {
    border: none;
    resize: none;
    background: none;
    color: white;
    line-height: 17px;
}

.settings {
    padding: 5px;
    background: black;
    border-top: 3px solid #343436;
}